@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>

        <footer class="fixed-bottom bg-light">
            <TabBar />
        </footer>
    </main>
</div>
